@page "/product/{id}"
@rendermode InteractiveServer
@using MiniEshopBlazor.Models
@inject MiniEshopBlazor.Services.ProductService ProductService
@inject NavigationManager Navigation
@inject MiniEshopBlazor.Services.CartService CartService

<h3>Λεπτομέρειες Προϊόντος</h3>

@if (product == null)
{
    <p>Φόρτωση...</p>
}
else
{
    <div class="panel">
        <div class="details-grid">

            <div class="details-info">
                <h3 class="page-title">@product.Name</h3>
                <p class="text-muted2">@product.Description</p>

                <div class="kv">
                    <div class="k">Τιμή</div>
                    <div class="v price">@product.Price €</div>

                    <div class="k">Κατηγορία</div>
                    <div class="v">@product.Category</div>

                    <div class="k">Απόθεμα</div>
                    <div class="v">
                        @if (product.Stock > 0)
                        {
                            <span class="badge success">In stock: @product.Stock</span>
                        }
                        else
                        {
                            <span class="badge danger">Out of stock</span>
                        }
                    </div>
                </div>

                <div class="d-flex gap-2 mt-3">
                    <button class="btn btn-success"
                            @onclick="AddToCart"
                            disabled="@(product.Stock <= 0)">
                        Προσθήκη στο καλάθι
                    </button>

                    <button class="btn btn-secondary" @onclick="GoBack">
                        Πίσω
                    </button>
                </div>
            </div>

            <div class="details-image-wrap">
                <img class="details-img-fixed"
                     src="@(string.IsNullOrWhiteSpace(product.ImageUrl)
                                             ? "/images/products/placeholder.jpg"
                                             : product.ImageUrl)"
                     alt="@product.Name" />
            </div>

        </div>
    </div>

}

@code {
    [Parameter]
    public string id { get; set; }

    private Product product;

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.GetAsync(id);
    }

    private void AddToCart()
    {
        if (product != null)
        {
            CartService.Add(product);
            Navigation.NavigateTo("/cart");
        }
    }
    private void GoBack()
    {
        Navigation.NavigateTo("/products");
    }

}
